* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(rgb(0, 115, 255), whitesmoke);
  overflow: hidden;
}

h1 {
  text-align: center;
  padding: 20px;
  color: rgb(255, 139, 123);
}

h2 {
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mood {
  border: none;
  height: 150px;
  width: 150px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  transition: ease-out 0.3s;
}

/* TO:transform scale to bigger when hovered over */
.mood:hover {
  transition: ease-in 60ms;
  outline: 5px solid brown;
}

.mood-container {
  margin: auto;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

#btn-submit {
  width: 120px;
  padding: 20px;
  border-radius: 15px;
  font-size: 1.2rem;
}

#mood-cheerful {
  background-color: yellow;
}

#mood-calm {
  background-color: greenyellow;
}

#mood-energetic {
  background-color: orange;
}

#mood-euthymic {
  background-color: whitesmoke;
}

#mood-depressed {
  background-color: rgb(43, 43, 238);
}

#mood-anxious {
  background-color: rgb(165, 87, 87);
}

#mood-irritable {
  background-color: grey;
}

#mood-mad {
  background-color: tomato;
}

@media (max-width: 760px) {
  .mood {
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: ease-in 0.3s;
  }

  .mood-container {
    margin: auto;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
  }

  #btn-submit {
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    font-size: 1rem;
  }
}
